# OS
.DS_Store
Thumbs.db
__MACOSX/
__MACOSX/
._*

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Env
.env
.env.local

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Data & raw videos
WLASL/
model-training/raw_data/
model-training/data/splits/

# MediaPipe model files
*.task
